---
import "@fontsource/playfair-display/700.css";
import "@fontsource/quicksand";
import "../styles/globals.css";
import { getGhostPosts } from "../lib/ghost";
import Layout from "@/layouts/Layout.astro";

const posts = await getGhostPosts();
console.log(Astro.url);
---

<Layout title="Tanya Stockdale's blog">
  <main class="mt-20">
    {
      posts.map((post: GhostPost) => (
        <div class="bg-white py-24 sm:py-16">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl">
              <article class="flex max-w-xl flex-col items-start justify-between">
                {post.feature_image && (
                  <img
                    src={post.feature_image}
                    alt={post.title}
                    class="w-full object-cover rounded-lg mb-6"
                  />
                )}
                <div class="flex items-center gap-x-4 text-xs">
                  <time datetime={post.published_at} class="text-gray-500">
                    {new Date(post.published_at).toLocaleDateString("en-US", {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    })}
                  </time>
                </div>
                <div class="group relative">
                  <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
                    {" "}
                    <a href={`/blog/${post.slug}`}>{post.title}</a>
                  </h3>
                  <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">
                    {post.excerpt}{" "}
                  </p>
                </div>
              </article>
            </div>
          </div>
        </div>
      ))
    }
  </main>
</Layout>
