---
import "@fontsource/playfair-display/700.css";
import "@fontsource/quicksand";
import "../styles/globals.css";
import { getGhostPosts } from "../lib/ghost";
import type { PostOrPage } from "@tryghost/content-api";
import Layout from "@/layouts/Layout.astro";
import { fadeLastCharacters } from "../lib/fade";

// Fetch posts on each request
const posts = await getGhostPosts();
---

<Layout title="Tanya Stockdale's Blog">
  <main class="mt-20">
    {
      posts.map((post: PostOrPage) => (
        <div class="bg-white py-24 sm:py-8 ">
          <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl">
              <article class="flex max-w-xl flex-col items-start justify-between">
                {post.feature_image && (
                  <a href={`/blog/${post.slug}`} class="w-full">
                    <img
                      src={post.feature_image}
                      alt={post.title}
                      class="w-full object-cover rounded-lg mb-6 hover:ring-4 hover:ring-gray-300 transition-all ease-in-out duration-300"
                    />
                  </a>
                )}

                <div class="gap-x-4 text-xs self-end">
                  <time datetime={post.published_at} class="text-gray-500">
                    {new Date(
                      post.published_at || Date.now(),
                    ).toLocaleDateString("en-US", {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    })}
                  </time>
                </div>
                <div class="group relative mt-2 mb-6 hyphens-auto">
                  <h3 class="px-8 mb-2 mt-8 text-lg font-semibold text-gray-900 group-hover:text-emerald-500 transition-all duration-300 ease-in-out">
                    {" "}
                    <a href={`/blog/${post.slug}`}>{post.title}</a>
                  </h3>
                  <div class="excerpt-container">
                    <p
                      class="px-8 mt-0 mb-8 text-md/6 text-gray-600 line-clamp-8"
                      set:html={fadeLastCharacters(
                        post.excerpt ?? "No excerpt available",
                      )}
                    >
                      {post.excerpt}{" "}
                    </p>
                  </div>

                  <a
                    href={`/blog/${post.slug}`}
                    class="tap-overlay absolute inset-0 ring-1 ring-slate-200 group-hover:shadow-xl group-hover:ring-0 transition-all duration-300 rounded-lg"
                    aria-label="Read more about {post.title}"
                  />
                </div>
              </article>
            </div>
          </div>
        </div>
      ))
    }
  </main>
</Layout>

<script></script>
